<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>FORMULARIO</title>
</head>
<body>
    <form action='/pagina'>
        <div>
            <label for="tx-nome"> Nome :</label>
            <input type="text" name="nome" id="tx-nome">
        </div>

        <div>
            <label for="tx-idade"> Idade :</label>
            <input type="text" name="idade" id="tx-idade">
        </div>

        <div>   
            <input type="submit" name="nome" id="tx-idade" value="Enviar">
        </div>
    </form>

    
</body>
</html>